@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  transition: background 0.2s ease;
}

button:active {
  background: #ccc;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* SOLUTION */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

button {
  padding: 8px 16px;
}

.main {
    display: flex;
    flex: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    background: #ffffff;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    flex-shrink: 0;
    gap: 16px
}

ul.sidebar-links {
    /* margin: 10% 0; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

a {
  color: #666;
  text-decoration: none;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background: #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);

}


.header {
  background: #ffffff;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);

}

ul.left-links, ul.right-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}